:root {

    --primary-color: #002366 ;
    --secondary-color: #DAA520 ;
    --accent1-color: #67B7D1;
    --accent2-color: #FFFFFF;
  
    --heading-font: "Roboto Condensed";
    --paragraph-font: "Roboto Condensed", sans-serif, Carlito;
  
    --headline-color-on-white: #DAA520;  /* headlines on a white background */ 
    --headline-color-on-color: #002366; /* headlines on a colored background */ 
    --paragraph-color-on-white: #002366; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #DAA520; /* paragraph text on a colored background */ 
    --paragraph-background-color: #E0E0E0  ;
    --nav-link-color: #FFFFFF;
    --nav-background-color: white;
    --nav-hover-link-color: #002366;
    --nav-hover-background-color: #DAA520;
  }
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Condensed";
}

.headerContainer{
    background: linear-gradient(to right, #0F5E9E, var(--primary-color));
}

.logoTitle{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logoTitle h1{
    color: var(--accent2-color);
}

.logoTop{
    width: 100px;
    margin: 5px;
    padding-left: 50px;
}

/* MENU NAV */
nav{
    margin: 0px;
    display: block;
    text-align: right;
}
nav ul{
    list-style-type: none;
    width: 100%;
    padding:2px 0px 0px 0px;

}
nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--nav-link-color);
    list-style-type: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 20px;
}

nav li:hover{
    background-color: var(--nav-hover-background-color);
}
.active{
    background-color: rgba(0,0,0,0.2);
}
ul.menuNav{
    display: none;
}
ul.menuNav.open{
    display: block;
}

/* MENU MOBILE */
#hamburguerButton{
    background:none;
    color: white;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
}
#hamburguerButton::before{
    content: "\2630";
}
#hamburguerButton.open::before{
    content: "X";
}


/* Hero image CSS*/

.heroImage{
    position: relative;
    height: 100vh;
    background: url("../images/heroImage.jpg");
    background-size: cover;
    background-position: center;
}
.overHeroImageText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Camada escura */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.overHeroImageText h2{
    font-size: 2rem;
}

.boxHero{
    padding: 2%;
    min-height: 30%;
    min-width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.joinUsButton {
    background-color: white;
    color: var(--primary-color);
    border: none;
    padding: 10px 20%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.joinUsButton:hover {
    background-color: var(--headline-color-on-white);
    color: var(--accent2-color);
}

/* Mission */

.mission{
    text-align: center;
    align-items: center;
    margin: 30px;
    background-color: var(--paragraph-color-on-white);
    padding: 10px;
    color: var(--accent2-color);
    border-radius: 10px;
}

/* EVENTS */

.topEvents{
    text-align: center;
}

.events{
    display: block; /* larger receive display flex  space around*/ 
}

.blockEvent{
    margin: 10px;
    padding: 30px 20px;
    background: url("../images/natal_iluminado.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--accent2-color);
    border-radius: 20px;
}


.blockEvent button{
    cursor: pointer;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}

.blockEvent button:hover{
    background-color: var(--secondary-color);
    color: var(--headline-color-on-color);
    transition: background-color 0.5s, color 0.5s;
}

.sectionWeatherMembers{
    display: block;
}

/* WEATHER */ 

.weather-box {
    background: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 100px;
    text-align: center;
    margin: 10px;
    color: black;
}
.weather-box h2 {
    font-size: 2em;
    margin: 10px 0;
}
.weather-box p {
    font-size: 1.2em;
    margin: 5px 0;
    font-weight: bold;
}
.weather-icon {
    font-size: 3em;
}
.humidity, .windchill {
    margin-top: 20px;
    font-size: 0.9em;
    font-style: italic;
}

/* SPOTLIGHTS*/ 

.memberSpotlights{
    display: block;
}


.spotlight-box {
    background: var(--primary-color);
    color: var(--accent2-color);
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}
.spotlight-box h1 {
    font-size: 2em;
    margin: 10px 0;
}
.spotlight-box p {
    font-size: 1.2em;
    margin: 10px 0;
    font-style: italic;
}
.contact-info {
    margin-top: 20px;
    font-size: 1em;
}
.contact-info div {
    margin: 5px 0;
}














/* FOOTER */
footer{
    margin-top: 10px;
    padding: 15px 0;
    background-color: var(--paragraph-color-on-white);
    color: var(--paragraph-background-color);
    text-align: center;
    width: 100%;
}

.topFooter{
    display: flex;
    justify-content: center;
}

.topFooter img{
    height: 110px;
    padding-right: 10px;
}



