@media only screen and (min-width: 63rem){
    main{
        margin: 0px 10%;
    }
    
    
    ul.menuNav, ul.menuNav.open{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    nav li{
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav ul li a{
        padding: 0px 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul{
        height: 100%;
    }

    .boxHero{
        min-height: 30%;
        min-width: 40%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    ul.menuNav{
        margin: 0;
        padding: 0;      
    }
    
    .headerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 80px;
    }

    .promotionalBanner h2 {
        font-size: 6vh;
    }
    .promotionalBanner p {
        font-size: 5vh;
        font-style: italic;
    }

    #hamburguerButton{
        display: none;
    }

    .events{
        display: flex;
        justify-content: space-evenly;
    }


    .sectionWeatherMembers{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    #memberSpotlights{
        display: flex;
        justify-content: space-between;
    }

    .discoverPage{
        grid-template-columns: 1fr 2fr;
    }

    .pictureGallery {
        transition: filter 0.3s ease, opacity 0.3s ease; 
    }

    .pictureGallery img{
        width: 100%;   
    }
  
    .pictureGallery:hover {
        filter:brightness(1.3);
    }


    .boxFooter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

}