@media only screen and (min-width: 63rem){
    ul.menuNav, ul.menuNav.open{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    nav li{
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav ul li a{
        padding: 0px 30px;
    }
    nav ul{
        height: 100%;
    }

    .boxHero{
        min-height: 30%;
        min-width: 40%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    ul.menuNav{
        margin: 0;
        padding: 0;      
    }
    
    .headerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 80px;
    }

    #hamburguerButton{
        display: none;
    }

    .events{
        display: flex;
        justify-content: space-evenly;
    }

    .boxFooter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

}